@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

h1,h2,h3,h4{
    font-family: 'Inter', sans-serif;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*** HEADER ***/
header{
	padding: 20px;
	-webkit-clip-path: polygon(100% 0, 100% 8%, 24% 37%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 100% 8%, 24% 37%, 0 100%, 0 0);
    background: #2e2e2f;
    min-height: 300px;
}
.logo-header{
	margin-left: 5%;
    margin-top: 2%;
}
.logo-header img{
	height: 150px
}
.dashlink a{
    color: #fff !important;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}
.dashlink{
    position: absolute;
    top: 15px;
    right: 5%;
}


/**  BODY  **/
 body{ background: #fff; }

.login-body .btn{
    margin-top: 16px;
    display: block;
}

.deconnexion{
    background: #FDC52B;
        overflow: auto;
    display: inline-block;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 15%
}
.canYouConnect {
        display: block;
    padding: 10px;
    border: 2px solid #2e2e2f;
    background: #FDC52B;
    text-align: center;
    color: #2e2e2f;
    margin: 50px 0
}
.tutorielsReso li{
    margin: 5px 0
}
.tutorielsReso a{
        font-size: 16px;
    font-weight: 500;
        color: #2e2e2f;
}

 .content-body { margin: 1em auto; max-width: 1000px; width: 95%;font-size: 18px;font-family:  'Inter', sans-serif }
 .content-body h1 { color: #2e2e2f; border-bottom: 3px solid #FDC52B; }
 @media all and (max-width: 1366px){  .content-body{ max-width: 900px } }

 .remarged-body-h{ margin-top: -150px }

 .disclaimer{ margin: 32px auto;
    max-width: 1000px;
    width: 95%;
    padding: 10px;
    border: 2px solid #2e2e2f;
    background: #FDC52B;
    text-align: center;
    color: #2e2e2f;
    margin-top: 32px;
    font-weight: 600;}
 .disclaimer p{font-family: 'Inter', sans-serif;}

/** FOOTER **/
footer{ padding: 20px ; background: #FDC52B;}
.footer-wrap{text-align: center;}
.footer-wrap p { font: 18px/1.5 sans-serif; color: #2d2d2e ; margin : 0 ; }


/** PAGE TUTORIELS **/
.body-tuto{
    position: relative;
}
.retourbtn{
    position: fixed;
    left: 0;
    background: #FDC52B;
    padding: 16px 18px;
    height: 32px;
}
.date-publication{
    position: absolute;
    top: 0;
    right: 0;
}
.nextprevtuto{
    border-top: 2px solid #f9f9f9;
    margin-top: 10px;
}
.prevtuto,.nexttuto{
     width: 49%;
    display: inline-block;
}
.prevtuto p,.nexttuto p{
    text-align: center;
}